@import url("index.css");
@import url("navbar.css");
@import url("footer.css");

section {
  height: 100vh;
  min-height: 100dvh;
  width: 100%;
}

.home {
  height: 100dvh;
}

h1 {
  cursor: default;
  font-weight: 400;
  font-size: 3rem;
}

/* BACKGROUND */

.background {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background::after {
  content: "";
  height: inherit;
  width: inherit;
  inset: 0;
  background: #00000077;
  position: absolute;
}

/* /BACKGROUND */

/* HOME */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-title h1 {
  color: #fff;
  cursor: default;
}

.home-title {
  display: flex;
  justify-content: center;
}

.home-title img {
  width: 20rem;
  height: auto;
}

.home-title h1,
.home-title span {
  font-size: 5rem;
  font-style: italic;
  font-family: "Rochester", cursive;
  font-weight: 400;
}

.home-btns {
  display: flex;
  gap: 3rem;
}

.home-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
  background-color: #00000075;
}

.home p {
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  margin-left: 1.5rem;
}

.btn {
  width: 100%;
  padding: 0.5rem 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transform: skew(-15deg);
}

.catalog-btn {
  border: 2px solid #fff;
  background-color: #fff;
  color: #000;

  transition: all 0.3s ease;
}

.home-logo img {
  width: 100%;
}

.logo {
  cursor: pointer;
}

.home-logo {
  width: 20rem;
  display: flex;
}

.catalog-btn:hover {
  background: transparent;
  color: #fff;
  box-shadow: 0 0 10px #ffffff4f;
}

.contact-btn {
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

.contact-btn::after {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  inset: 0;
  background-size: cover;
  transform: scaleX(0);
  transition: all 0.5s ease;
  transform-origin: left;
  z-index: -1;
}

.contact-btn:hover::after {
  transform: scaleX(1);
}

.contact-btn:hover {
  color: #000;
  box-shadow: 0 0 3px var(--main-color);
}

/* ABOUT */

.about {
  display: flex;
  background-image: linear-gradient(to bottom, #00000027, #fff);
  align-items: center;
  justify-content: center;
  padding: 0 7rem;
}

.about-img {
  width: 25%;
}

.about-img img {
  width: 100%;
  inset: 0;
  object-fit: cover;
  /* border-right: 5px solid #d4ab39;
  border-bottom: 5px solid #d4ab39; */
  background-image: linear-gradient(
    to top left,
    /* direção da diagonal */ #d4ab39 50%,
    /* amarelo transparente até 50% */ transparent 50%
      /* amarelo sólido depois disso */
  );
  /* border-image: linear-gradient(135deg, transparent 40%, #d4ab39) 1; */
  /* background-color: #d4ab39ce;
  border-radius: 20px; */
}

.about-content span {
  text-shadow: 0 0 2px #ffbb00;
  color: #554825;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.about-content p {
  text-indent: 50px;
  line-height: 1.9rem;
  letter-spacing: 0.05rem;
  text-align: justify;
  border-right: 5px solid;
  border-bottom: 5px solid;
  border-image: linear-gradient(160deg, transparent 40%, #d4ab39e3) 1;
  padding-right: 0.5rem;
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.about h1 {
  text-shadow: 0 0 2px var(--main-color);
  color: #a17703;
}

/* /ABOUT */

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  padding: 0 12%;
  min-height: 100dvh;
  background-image: linear-gradient(to top, #00000059, #00000059),
    url("../images/image3.jpg");
  background-size: cover;
  align-items: center;
  background-position: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 4.6rem 0;
  background-color: #f0f0f0f8;
  overflow: hidden;
}

.contact-box {
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  color: #000;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.contact-box * {
  transition: all 0.3s ease;
}

#contact h1 {
  color: #a17703;
  text-shadow: 0 0 2px var(--main-color);
}

.contact-box:hover * {
  color: #a17703;
  text-shadow: 0 0 4px var(--main-color);
}
.contact-box:hover {
  border: 2px solid #a17703;
  box-shadow: 0 0 0.5px var(--main-color);
}

.contact-box p {
  font-size: 0.8rem;
}

.contact-box span {
  font-size: 1.3rem;
}

.contact-boxes {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20rem;
}

.contact-line-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.8rem;
  margin-top: 0.8rem;
}

.contact-line-boxes > * {
  width: 100%;
  flex: 1;
}

.contact-box-title {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.contact-box-title i {
  font-size: 1.5rem;
}

/* /CONTACT */

/* RESPONSIVE */

@media (min-width: 0px) {
  .about {
    padding: 1rem 3rem;
  }

  .about-content {
    gap: 1rem;
    width: 100%;
  }

  .about-content p {
    line-height: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .about-img {
    width: 35%;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
  }

  .contact-line-boxes {
    flex-direction: column;
  }

  #contact {
    padding: 5%;
  }
}

@media (min-width: 576px) {
  .about {
    padding: 1rem 7rem;
  }
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .about-content {
    width: 60%;
  }

  .about-img {
    width: 30%;
  }

  .about {
    padding: 0 3rem;
  }
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .contact-line-boxes {
    flex-direction: row;
  }

  .about {
    padding: 7rem;
  }

  .about-img {
    width: 25%;
  }

  .about-content {
    width: 55%;
  }

  .about-content p {
    line-height: 1.9rem;
  }
}
/* /RESPONSIVE */
